.custom-navbar {
  background-color: #FFFFFF !important;

}

.navbar-brand {
  font-weight: bold;
  font-size: 40px !important;
}

.shadow {
  box-shadow: 0px 4px 10px 0px #00000040 !important;

}

.border {
  color: #CACACA;
}

.login-btn {
  background-color: #018080 !important;
  border: none;
  width: 100px;
  color: #ffffff;
  border-radius: 9px;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 2px;
}

.btn {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.btn-container .btn:hover {
  background-color: none;
}

.d-flex {
  gap: 16px;
}

.line-img {
  height: 26px;
  margin-top: 9px;
}

.bg-color {
  background-color: #E0F8F8;

}

.heading1 {
  font-weight: bold;
  font-size: 74px;
  margin-top: 22px;
}

.piggy-bank {
  width: 502px;
}

.price-para {
  width: 58%;
  color: #252423 ;
  font-weight: 500;
}

::placeholder {
  color: #000 !important;
  font-weight: bold;
  font-size: 22px;
}

.form-control {
  height: 69px;
  width: 30%;
}

.search-btn {
  height: 68px;
  width: 89px;
  background-color: #018080;
  border: none;
  border-radius: 7px;
}

.fa-magnifying-glass {
  font-size: 32px;
  margin-top: 8px;
  color: #ffffff;
}


.border-left {
  border-left: 14px solid #017F7F;
  border-radius: 2px;
  color: #017F7F;
  font-weight: bold;
  font-size: 20px;

}



.cmp-heading {
  font-weight: 700;
  margin-top: 17px;
  font-size: 28px;
  margin-left: 12px;
  padding-top: 5px;
}

.categories-border {
  border-left: 14px solid #017F7F;
  border-radius: 2px;
  color: #017F7F;
  font-weight: bold;
  font-size: 20px;

}

.popular-border {
  border-left: 14px solid #017F7F;
  border-radius: 2px;
  color: #017F7F;
  font-weight: bold;
  font-size: 20px;

}

.products-heading {

  font-weight: 700;
  margin-top: 17px;
  font-size: 28px;
  margin-left: 12px;
}


.border-left-trick {
  border-left: 14px solid #017F7F;
  border-radius: 2px;
  color: #017F7F;
  font-weight: bold;
  font-size: 20px;

}





.mt-5 {
  margin-top: 4rem !important;

}

.slick-slider {

  display: flex;
  /* height: 50px;
width: 324px; */
}

.group-img {
  height: 25px;
  width: 116px !important;
}




.food-container {
  margin-top: 30px;
  padding: 25px 25px;
  height: 235px;
  width: 299px;
  border-radius: 15px;
  box-shadow: 0 0 1px #29C2C2;

}

.food-container:hover {
  box-shadow: 0 0 4px #29C2C2;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.category-heading {
  text-align: center;
  margin-top: 25px;
}

.category-icon {
  height: 77px;
}

.d-flex {
  margin-top: 30px;

}

.rating-img {
  display: block;
  width: 96px;
}

.rounded-start {
  height: 186px;
  margin-top: 11px;
}


.card-text {
  width: 150px;
  margin-bottom: 0;
  line-height: 20px;
}

.custom-btn {
  padding: 4px 17px !important;
  font-size: 16px !important;
  color: #000000 !important;
  border: none !important;
}

.btn:hover {
  background-color: none !important;
}

.btn-green {
  background: #24DA62 !important;
}

.btn-lt-green {
  background: #CEF533 !important;

}

.btn-yellow {
  background: #FED238 !important;

}

.btn-orange {
  background: #FE8B38 !important;
}

.btn-red {
  background: #FE3838 !important;

}

.btn-container {
  display: flex;
  justify-content: end;
}

.span-heading {
  font-weight: 600;
}


.mask-box {
  margin-left: auto;
  width: 93%;
  position: relative;
}

.mask-heading {
  position: absolute;
  bottom: 120px;
  left: 29px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.mask-para {
  position: absolute;
  color: #ffffff;
  bottom: 34px;
  left: 26px;
  width: 378px;
  line-height: 18px;
  letter-spacing: 1px;
}

.mask-img {
  width: 100%;
}

.product-img {
  width: 475px;
}

.mask-box-2 {
  background: url('/public/Images/Rectangle\ 21.png');
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.mask-box-3 {
  background: url('/public/Images/Rectangle\ 23.png');
  height: 248px;
  background-repeat: no-repeat;
  background-size: contain;
}


.description-box {
  position: absolute;
  bottom: 1px;
  left: 32px;
  text-align: justify;
  width: 362px;
  color: #ffffff;
}

.mask-box-3 {
  position: relative;
}

.description-box-2 {
  position: absolute;
  bottom: 8px;
  text-align: justify;
  left: 40px;
  width: 360px;
  color: #ffffff;
}


.mask-heading-2 {
  font-size: 20px;
  font-weight: 700;
}

.mask-para-2 {
  line-height: 18px;
}


.mask-para-3 {
  line-height: 18px;
  letter-spacing: 1px;
}


.mask-heading-3 {
  font-size: 20px;
  font-weight: 700;
}


footer {
  background: #158790;
  padding-bottom: 12%;

}

.footer-heading {
  color: #FFFFFF;
  ;
  font-size: 70px;
}

.footer-btn {
  background-color: #169E9E;
  padding: 15px 24px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;

}

.footer-btn:hover {
  color: #ffffff;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px !important
}


.fa-envelope {
  padding: 10px;
  background: #ffffff;
  color: #000000;
  min-width: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  border-right: 2px inset;
  border-radius: 10px 0px 0px 10px;

}

.input-container {
  display: flex;
  margin-top: 10%;
}

input[type="email"] {
  width: 24%;
  border: none;
  border-radius: 8px;
  width: 320px;
  outline: 0;
  border: none;
  border-radius: 0px 10px 10px 0px;

}

.subscription-container {
  display: flex;
}

.subs-button {
  margin-left: 49px;
  border: none;
  padding: 2px 54px;
  border-radius: 11px;
}

.subscription-box {
  display: flex;
  margin-left: 60px;
}

/* .email {
  width: 320px;
  outline: 0;
  border: none;
  border-radius: 0px 10px 10px 0px;
} */

.flex-container {
  display: flex;
  gap: 56px;
}

.subscribe-btn {
  color: #ffffff;
  padding: 1px 11px;
  border: none;
  letter-spacing: 2px;
  background: #169E9E;
  font-weight: 700;
  font-size: 20px;
  font-family: revert;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px #00000026 !important;

}

.input-box {
  box-shadow: 2px 4px 4px 0px #00000026;

}

.email-container {
  display: flex;
  box-shadow: 2px 4px 4px 0px #00000026;
}