@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    position: absolute;
    flex-basis: auto;
    right: 34px;
  }
}

.bg-light {
  background-color: #fff;
}

button {
  background-color: #f9aa03;
  border: 0;
  border-radius: 5px !important;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 13px !important;
}

.topbanner {
  color: white;
  padding: 44px 0px 43px;

}

.middlebanner h2 {
  text-align: center;
  padding: 34px 0px 4px;
  color: #dd845b;

}
.middlebanner p{
  text-align: center;
}


.position img {
  width: 100%;
  height: 154px;
}

.position {
  position: relative;
}

.position h3 {
  position: absolute;
  top: 59px;
  color: white;
  left: 121px;
}

.align {
  text-align: center;
  padding-top: 35px;
  font-size: 31px !important;
  color: #e2815b;
}

.products img {
  max-width: 100%;
  max-height: 161px;
  width: 100%
}

.products h4 {
  color: #e2815b;
  font-size: 18px;
}

.products ul {
  list-style: none;
  padding-left: 0px;
}

.products input[type=number] {
  display: inline-block;
  width: 102px;
  
}

.heading{
  margin-top: 47px;
}

.heading h1 , p {
     color: black;
}

.products ul li div {
  background-color: #fea300;
  display: inline-block;
  position: relative;
  margin-left: -5px;
  border-radius: 3px;
}
.products input[type=submit] {
  display: inline-block;
  width: 103px;
  background: transparent;
  border: none;
  font-size: 14px;
  margin-left: 11px;
  color: #fff;
  padding: 6px 0px 4px 12px;
}

.products ul li div::before {
  font-family: FontAwesome;
  content: "\f07a";
  position: absolute;
  bottom: 3px;
  right: 89px;
  color: white;
}

.color {
  color: #e2815b;
}
.border{
  border: 1px solid gray;
  padding: 5px;
}
.alignment{
  text-align: center;
}
.alignment h2{
  padding-top: 30px;
  color: #dd845b;
}
.alignment img{
  max-width: 300px;
  max-height: 224px;
  width: 100%;
  border-radius: 115px;
}
.alignment h4{
  padding-top: 8px;
  font-size: 30px;
}
.imagecol img{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-height: 265px;
}
.contacts p{
  padding-top: 23px;
  color: #828282;
}
.contacts a{ 
      position: relative;
      color: #828282  !important
}
.contacts a::before{
       position: absolute;
       left: -17px;
       content: '\f1e4';
       font-family: FontAwesome;       
}
.contacts span{
  display: block;
  color:#828282;
}
.contacts{
  text-align: center;
}
.footerbg ul{
  list-style: none;
  font-weight: bold;
  display: contents;
}
.footerbg ul li{
   font-weight: normal;
   color: #757575;
}
.footerbg{
   background-color:#f7f7f7;
   padding-top: 37px;
   margin-top: 23px;
   padding-bottom: 16px;
}
.footerbg li a{
    text-decoration: none;
    color: #a7a7a7;
}
.footerbg h5{
       font-weight: bold;
       
}
footer{
  padding-top: 23px;
}
  .hello h5{
  position: relative;
  padding-left: 28px;
}
  .hello h5::before{
  position: absolute;
  content: "\f15c";
  font-family: FontAwesome;
  left: 3px;
         
}
.footerbg input[type=text]{
  width: 251px;
}
.footerbg input[type=submit]{
      background-color: #fda504;
      border: 0;
      margin-left: -1px;
      padding: 3px;
      color: white;
      width: 99px;
}
.conditions{
  padding-top: 30px;
  padding-bottom: 34px;
  text-align: center;

}
.conditions li {
    list-style: none;
}
.conditions li  a {
        text-decoration: none;
        text-align: center;
}
@media (min-width:380px) and (max-width:600px) {
        .navbar-nav {
            background-color: black;
        }
        .navbar-nav .submenu {
             background-color: black;
        }
    
        .navbar-nav  li{
          border: 1px solid darkslategray;
        }
        .navbar-nav li a {
              color: white !important;
        }
        .navbar-nav li:hover{
           background-color: #e9ecef;
        }
        .navbar-nav li:active{
          background-color: #007bff;
        }
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
  color: black !important;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}
